.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.contact_box {
  display: flex;
  align-items: center;
  & > :not(:last-child) {
    padding-right: 10px;
  }
}
