.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 16px;
  border-top: 10px solid;
  border-color: var(--color-primary);
  width: 100%;
  color: var(--color-primary);
}
