:root {
  --bold: 600;
  --regular: 400;
  --thin: 200;
}

.bold {
  font-weight: var(--bold);
}
.regular {
  font-weight: var(--regular);
}
.thin {
  font-weight: var(--thin);
}

.logo {
  font-family: "Inspiration", cursive;
  font-size: 1.8rem;

  &.big {
    font-size: 3.5rem;
  }
}

.title {
  font-weight: var(--bold);
  font-size: 1.8rem;

  &.big {
    font-size: 2rem;
  }
  &.small {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-weight: var(--regular);
  font-size: 1.2rem;

  &.bold {
    font-weight: var(--bold);
  }
  &.regular {
    font-weight: var(--regular);
  }
  &.thin {
    font-weight: var(--thin);
  }

  &.big {
    font-size: 1.3rem;
  }
  &.small {
  }
}

.content {
  font-weight: var(--regular);
  color: var(--color-text-secondary);
  &--big {
  }

  &.small {
    font-size: 0.8rem;
  }
}

//Utils classes
.primary {
  color: var(--color-primary);
  &--light {
    color: var(--color-primary-light);
  }

  &--dark {
    color: var(--color-primary-dark);
  }
  &--constrast_text {
    color: var(--color-primary-contrast_text);
  }
}
.secondary {
  color: var(--color-secondary);
  &--light {
    color: var(--color-secondary-light);
  }

  &--dark {
    color: var(--color-secondary-dark);
  }
  &--constrast_text {
    color: var(--color-secondary-contrast_text);
  }
}

.success {
  color: var(--color-success);
  &--light {
    color: var(--color-success-light);
  }

  &--dark {
    color: var(--color-success-dark);
  }
  &--constrast_text {
    color: var(--color-success-contrast_text);
  }
}

.warning {
  color: var(--color-warning);
  &--light {
    color: var(--color-warning-light);
  }

  &--dark {
    color: var(--color-warning-dark);
  }
  &--constrast_text {
    color: var(--color-warning-contrast_text);
  }
}

.error {
  color: var(--color-error);
  &--light {
    color: var(--color-error-light);
  }

  &--dark {
    color: var(--color-error-dark);
  }
  &--constrast_text {
    color: var(--color-error-contrast_text);
  }
}
